*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(64,64,92, 0.7),rgba(64,64,92, 0.7)),url(images/banner1.png); /*1st color is top 2nd color bottom*/
    background-position: center;
    background-size: auto;
    position: relative;
}

.text-box h1{
    font-family: 'Finger Paint', cursive;
}

#img-logo{
    width:100px;
}


nav{
    display: flex;
    padding: 3% 6%;/* top , from left */ 
    justify-content: space-between;/* makes space between the image and navigation*/
    align-items: center;
}
nav img{
    width: 70px;
}
nav-links{
    flex: 1;
    text-align: right;    
}
.nav-links ul li{ /*link design*/
    list-style: none;
    display: inline-block;
    padding:  8px 12px;
    position: relative;
}
.nav-links ul li a{ /*anchor tags*/
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    color: #fff;
    margin: 0 0 20px;
    padding: 0 0 0 0;
    font-size: 15px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #4e7136;
    background: #4e7136;
    transition: 0.75s;
}
nav .fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background:#4e7136;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
 }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    

    
        
}

/* FAQS */

.faqs {
    margin: 100px;
   }
.faqs h1, p{
    text-align: center;
}
.faqs h3{
    margin: 20px; 
    text-decoration: underline;
}

.faqs ul li,p{
    text-align: center;
    color: black;
    list-style-position: inside;

}
.faq-list{
    cursor: pointer;
   
}
.faqs-ch {
    text-decoration: none;
    color: inherit;
   /* border: 1px solid #4e7136;
    padding: 1px; */
}

/*-----gallery-----*/

.gallery{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.gallery-col {
    flex-basis: 31%; /* sets the sizes of the border*/
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin 10px 0;
}
.gallery-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}


/* products*/

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%;
    
}

/*--- ORDER---*/

.order-col img{
    width: 100%;
}

.order-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.order-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.order-col div p{
    padding: 0;
}
.order-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.order-col input, .order-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.ordr-row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
    margin: 5% 5%;
    
}

@media(max-width:700px){
    .ordr-row{
        display: block;
    }
}
    


/*---- testimonials ----*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: center;

}

.testi-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testi-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testi-col p{
    padding: 0;
}

.testi-col h3{
    margin-top: 15px;
    text-align: left;
}

.testi-col .fa{
    color: orange;
}

@media(max-width: 700px){
    .testi-col img{
        margin-left: 0px;
        margin-right: 15px;
 }
}

/* cta */

.cta{
    margin: 10px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

/*---- footer ----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;    
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart{
    color: #f44336;
}
    

/*---- about us page ----*/

.sub-header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/b2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;    
}
.sub-header ul li{
    margin-top: -0px;
}

.sub-header h1{
    margin-top: -30px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 0px; /* spacing of handmade to top*/
    padding-bottom: 10px;
}

.about-col{
    flex-basis: 48%;
    padding: 0px 2px; /*-spacing of image-*/
}

.about-col img{
    width: 100%;
}

.about-us h1{
    padding: 0px;
    text-align: center;
}
.about-us p{
    padding: 0px 0px -100px 0px;
  }

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    color: #fff;
}

/*--CONTACT US--*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;    
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas{
    color: orange;
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


























